dataset_project/
dataset_set_up/
venv/
.venv/

*.pt
*.pth
*.pkl
__pycache__/
/SubmissionFinalCode/Task1/Train/Weight/*
!/SubmissionFinalCode/Task1/Train/Weight/.gitkeep

/SubmissionFinalCode/Task3/Train/Weight/*
!/SubmissionFinalCode/Task3/Train/Weight/.gitkeep

/SubmissionFinalCode/Task4/Train/Weight/*
!/SubmissionFinalCode/Task4/Train/Weight/.gitkeep

/SubmissionFinalCode/Task5/Train/Weight/*
!/SubmissionFinalCode/Task5/Train/Weight/.gitkeep

SubmissionFinalCode/Task2/Inference/Task_2_Visualization
SubmissionFinalCode/Task4/Inference/Task_4_Visualization
SubmissionFinalCode/Task1/Inference/Task_1_OBB_Visualization